extends layout
block link
  link(rel='stylesheet', href='/fonts/font-awesome.min.css')
  link(rel='stylesheet', href='/styles/about.css')
block content
  // About Section
  #about
    .container
      .section-title.text-center.center
        h2 关于作者
        hr
      .row
        .col-md-12.text-center
          img.img-responsive(src='/images/me.png')
        .col-md-8.col-md-offset-2
          .about-text
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.
            p.text-center
              a.btn.btn-primary(href='#')
                i.fa.fa-download
                |  下载建立
  // Portfolio Section
  #portfolio
    .container
      .section-title.text-center.center
        h2 My Portfolio
        hr
        .clearfix
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
      .categories
        ul.cat
          li
            ol.type
              li
                a.active(href='#', data-filter='*') All
              li
                a(href='#', data-filter='.web') Web Design
              li
                a(href='#', data-filter='.app') App Development
              li
                a(href='#', data-filter='.branding') Branding
        .clearfix
      .row
        .portfolio-items
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='/images/portfolio/01.jpg', title='Project description', rel='prettyPhoto')
                  .hover-text
                    h4 Project Title
                    small Web Design
                    .clearfix
                    i.fa.fa-search
                  img.img-responsive(src='/images/portfolio/01.jpg', alt='Project Title')
          .col-sm-6.col-md-3.col-lg-3.app
            .portfolio-item
              .hover-bg
                a(href='/images/portfolio/02.jpg', title='Project description', rel='prettyPhoto')
                  .hover-text
                    h4 Project Title
                    small App Development
                    .clearfix
                    i.fa.fa-search
                  img.img-responsive(src='/images/portfolio/02.jpg', alt='Project Title')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='/images/portfolio/03.jpg', title='Project description', rel='prettyPhoto')
                  .hover-text
                    h4 Project Title
                    small Web Design
                    .clearfix
                    i.fa.fa-search
                  img.img-responsive(src='/images/portfolio/03.jpg', alt='Project Title')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='/images/portfolio/04.jpg', title='Project description', rel='prettyPhoto')
                  .hover-text
                    h4 Project Title
                    small Web Design
                    .clearfix
                    i.fa.fa-search
                  img.img-responsive(src='/images/portfolio/04.jpg', alt='Project Title')
          .col-sm-6.col-md-3.col-lg-3.app
            .portfolio-item
              .hover-bg
                a(href='/images/portfolio/05.jpg', title='Project description', rel='prettyPhoto')
                  .hover-text
                    h4 Project Title
                    small App Development
                    .clearfix
                    i.fa.fa-search
                  img.img-responsive(src='/images/portfolio/05.jpg', alt='Project Title')
          .col-sm-6.col-md-3.col-lg-3.branding
            .portfolio-item
              .hover-bg
                a(href='/images/portfolio/06.jpg', title='Project description', rel='prettyPhoto')
                  .hover-text
                    h4 Project Title
                    small Branding
                    .clearfix
                    i.fa.fa-search
                  img.img-responsive(src='/images/portfolio/06.jpg', alt='Project Title')
          .col-sm-6.col-md-3.col-lg-3.branding.app
            .portfolio-item
              .hover-bg
                a(href='/images/portfolio/07.jpg', title='Project description', rel='prettyPhoto')
                  .hover-text
                    h4 Project Title
                    small App Development, Branding
                    .clearfix
                    i.fa.fa-search
                  img.img-responsive(src='/images/portfolio/07.jpg', alt='Project Title')
          .col-sm-6.col-md-3.col-lg-3.web
            .portfolio-item
              .hover-bg
                a(href='/images/portfolio/08.jpg', title='Project description', rel='prettyPhoto')
                  .hover-text
                    h4 Project Title
                    small Web Design
                    .clearfix
                    i.fa.fa-search
                  img.img-responsive(src='/images/portfolio/08.jpg', alt='Project Title')
  // Resume Section
  #resume.text-center
    .container
      .section-title.center
        h2 Experience
        hr
      .row
        .col-lg-12
          ul.timeline
            li
              .timeline-image
                h4
                  | Feb 2013 
                  br
                  |                 - 
                  br
                  |                 Present
              .timeline-panel
                .timeline-heading
                  h4 Creative Agency
                  h4.subheading UX Developer
                .timeline-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
            li.timeline-inverted
              .timeline-image
                h4
                  | Nov 2011 
                  br
                  |                 - 
                  br
                  |                 Jan 2013
              .timeline-panel
                .timeline-heading
                  h4 Creative Agency
                  h4.subheading Front-end Developer
                .timeline-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
            li
              .timeline-image
                h4
                  | Dec 2009 
                  br
                  |                 - 
                  br
                  |                 May 2011
              .timeline-panel
                .timeline-heading
                  h4 Creative Agency
                  h4.subheading UX Designer
                .timeline-body
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.
  // Contact Section
  #contact.text-center
    .container
      .section-title.center
        h2 Contact me
        hr
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leo nec ornare diamcommodo.
      .col-md-8.col-md-offset-2
        .col-md-4
          i.fa.fa-map-marker.fa-2x
          p
            | 321 Awesome Street
            br
            |  New York, NY 17022
        .col-md-4
          i.fa.fa-envelope-o.fa-2x
          p info@companyname.com
        .col-md-4
          i.fa.fa-phone.fa-2x
          p  +1 800 123 1234
        hr
        .clearfix
      .col-md-8.col-md-offset-2
        h3 Leave me a message
        form#contactForm(name='sentMessage', novalidate='')
          .row
            .col-md-6
              .form-group
                input#name.form-control(type='text', placeholder='Name', required='required')
                p.help-block.text-danger
            .col-md-6
              .form-group
                input#email.form-control(type='email', placeholder='Email', required='required')
                p.help-block.text-danger
          .form-group
            textarea#message.form-control(name='message', rows='4', placeholder='Message', required='')
            p.help-block.text-danger
          #success
          button.btn.btn-default(type='submit') Send Message
        .social
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-github
            li
              a(href='#')
                i.fa.fa-instagram
            li
              a(href='#')
                i.fa.fa-linkedin

block script
  script(type="text/javascript" src="/scripts/about/jquery.smooth-scroll.min.js")
  script(type="text/javascript" src="/scripts/about/easypiechart.js")
  script(type="text/javascript" src="/scripts/about/jquery.prettyPhoto.js")
  script(type="text/javascript" src="/scripts/about/isotope.pkgd.min.js")
  script(type="text/javascript" src="/scripts/about/waypoints.js")
  script(type="text/javascript" src="/scripts/about/jqBootstrapValidation.js")
  script(type="text/javascript" src="/scripts/about/contact_me.js")
  script(type="text/javascript" src="/scripts/about/main.js")
