
extends layout

block content
  div#index-container
    div.bg
    div#upload-area
      i.iconfont.icon-upload
      p.big-text 拖放图片或者点击上传
      p.small-text 最多20张图片，总大小不超过5M
    div.introduce
      div.section
        h4.text-center 小迪版图片上传
        div.features
          div.feature-item.col-xs-12.col-sm-6.col-md-4
            <h5>Example body text</h5>
            <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          div.feature-item.col-xs-12.col-sm-6.col-md-4
            <h5>Example body text</h5>
            <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          div.feature-item.col-xs-12.col-sm-6.col-md-4
            <h5>Example body text</h5>
            <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>