extends layout

block content
  div#registe-container.container
    div.well
      form.form.form-horizontal
        legend 注册新用户
        div.group
          label.sr-only(for='inputEmail') 用户名
          input#inputName.form-control(type='text', placeholder='用户名', required='', autofocus='')
          i.glyphicon.glyphicon-ok.text-success
        div.group
          label.sr-only(for='inputEmail') 邮箱地址
          input#inputEmail.form-control(type='email', placeholder='邮箱地址', required='', autofocus='')
          i.glyphicon.glyphicon-ok.text-success  
        div.group
          label.sr-only(for='inputPassword') 密码
          input#inputPassword.form-control(type='password', placeholder='密码', required='')
          i.glyphicon.glyphicon-ok.text-success
        div.group
          label.sr-only(for='inputRePassword') 确认密码
          input#inputRePassword.form-control(type='password', placeholder='确认密码', required='')
          i.glyphicon.glyphicon-ok.text-success
        div.group
          p.err-tips.text-danger &nbsp;
        div.group
          a#doRegiste.btn.btn-primary
            i.glyphicon.glyphicon-repeat
            | 注册

block script
  script(type="text/javascript" src="//fs.andylistudio.com/source/js/registe.min.js")
