extends layout

block link
  link(rel="stylesheet", href="/styles/upload.css")

block content
  
  div#container.container
    div.header
      strong#uploadDialogHeadlineStrong.title_status 请将文件拖曳至框内
        div.sprite_new
    div#uploadItems

block script
  script(type="text/javascript", src="/scripts/uploader/uploader.js")
  script(type="text/javascript", src="/scripts/uploader/uploaderQueue.js")
  script(type="text/javascript", src="/scripts/uploader/uploaderApp.js")
  script(type="text/javascript", src="/scripts/uploader.js")
  script(type="text/javascript").
    var main = new uploaderApp.main('container')
    main.init()
